include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include AUTHORS.md
include README_ZH.md
include CONTRIBUTING_ZH.md
include SECURITY_ZH.md
include .pre-commit-config.yaml
recursive-include .github *.md *.yml
